.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.TweetPage {
  height: 100%;
  width: 100%;
  max-width: 612px;
  margin: 0 auto;
  justify-content: center;
}

.tweet-stream {
  border: 1px solid rgb(225, 232, 237);
  margin-top: 8px;
}

.navbar {
  width: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(225, 232, 237);
  position: sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.icon {
  fill:rgb(29, 161, 242);
  width:22.5px;
  cursor: pointer;
}