.App {
  text-align: center;
}

.tweet-page {
  max-width: 600px;
  margin: 0 auto;
}

.tweet-stream {
  width: 100%;
  border: 1px solid rgb(225, 232, 237);
  margin-top: 8px;
}

.photo .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 12px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.photo .btn:hover {
  background-color: black;
}
